table{
    width: 1200px;
    height: 600px;

    background-color: wheat;
    text-align: center;
    border: 5px solid black;
}
.brown_background{
    background-color: brown;
}
.tr_1{
    font-weight: bold;
    color: blue;
    background: rgb(144,0,0);
    background: -moz-linear-gradient(32deg, rgba(144,0,0,1) 7%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(32deg, rgba(144,0,0,1) 7%, rgba(255,255,255,1) 100%);
    background: linear-gradient(32deg, rgba(144,0,0,1) 7%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#900000",endColorstr="#ffffff",GradientType=1);
}
.tr_2{
    color: white;
    font-weight: bold;
    background: rgb(144,0,0);
    background: -moz-linear-gradient(32deg, rgba(144,0,0,1) 7%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(32deg, rgba(144,0,0,1) 7%, rgba(255,255,255,1) 100%);
    background: linear-gradient(32deg, rgba(144,0,0,1) 7%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#900000",endColorstr="#ffffff",GradientType=1);
}